.brandbox{width:1200px;margin:0 auto;position:relative;z-index:22;background-color:#fff}
.brand-pic {padding-top:20px;overflow:hidden}
.brand1{width:520px;height:340px}
.brand2{width:330px;height:340px;overflow:hidden;margin:0 10px}
.brand3{width:330px;height:340px;overflow:hidden;}
.brand-cell{padding:43px 0;overflow:hidden}
.brand-cell a{float:left;width:150px;}
.brand-cell a img{width:94px;height:45px;margin:0 auto}
.brand-list{width:1200px;margin:0 auto}
.brand-top{height:40px;border-top:3px solid #000;line-height:40px;border-bottom:2px solid #000;padding-left:180px;font-size:0}
.brand-top a{display:inline-block;outline: 0px none;padding:0 10px;color:#666;font-size:14px;}
.brand-top .active{background-color:#666;color:#fff}
.brand-list ul li{overflow:hidden;border-bottom:1px solid #666;padding-bottom:20px;margin-top:30px;}
.chhar{font-size:40px;width:280px;text-align:center;}
.brannum{font-size:0;width:900px;}
.brannum a{width:450px;display:inline-block;color:#666;font-size:14px;line-height:30px;color:#000}
.brannum a:hover{color:#F2457D;}