/*头部*/
.headbox{height:110px;background-color:#2d292f}
$width:1200px;
$font:14px;
$color:#fff;
$color1:#f2457d;
.center{width:$width;margin:0 auto;overflow:hidden;}
.logo {float:left;margin-top:18px;margin-left:60px;color:$color;font-size:16px;width:250spx}
.logo img{float:left}
.logo p{float:left;margin-top:-3px;padding-left:5px;}
.menue{position:absolute;top:80px;height:518px;z-index:2}
.menue:hover{z-index:999;}
.menue h5{font-size:$font;color:$color;font-weight:normal;text-align:center;line-height:30px;background-color:$color1;}
.menu-dl{background-color:rgba(242,69,125,0.5);height:490px}
.menue dl{padding:10px 15px;overflow:hidden}
.menue dt a{font-size:$font;color:$color}
.menue dd {line-height:30px;display:block;float:left;margin:0 5px;}
.menue dl:hover{background-color:#f11d62}
.menue dd a{font-size:12px;display:block;line-height:30px;color:$color}
.nav{float:left;margin-left:100px;line-height:110px}
.nav li{float:left;margin:0 25px;}
.nav li a{font-size:$font;color:$color;padding:0 5px;border-top:3px solid #2d292f;}
.nav .active a{color:$color1;border-color:$color1;}
.nav li a:hover{color:$color1}
.search{line-height:110px;float:left}
.search input{width:138px;height:22px;line-height:22px;border-radius:10px;text-indent:10px;margin:40px 0 0 60px;float:left;}
.search a {float:left;color:$color;font-size:$font;margin-left:8px}
.login{line-height:110px;float:right;position:relative;}
.login a{float:left;margin-left:20px;color:$color;font-size:$font;}
.login i{width:1px;background-color:#556656;position:absolute;height:14px;top:48px}

/*尾部*/
.foot{height:410px;background-color:#2d292f;margin-top:40px;}
.web{height:240px;border-bottom:1px solid #4a444c;overflow:hidden;}
.web-pic{margin-top:20px;float:left;}
.web-list{margin-left:230px;float:left;margin-top:46px;text-align:left;}
.web-list dl{width:150px;float:left;line-height:25px;}
.web-list dl dt {color:$color;font-size:$font;margin-bottom:5px}
.web-list dl dd{color:#a1a1a1}
.web-list dl dd a{font-size:$font;color:#a1a1a1}
.foot-mesg{color:#666;margin-top:20px;}
.foot-mesg p{line-height:30px;font-size:12px;overflow:hidden}
.foot-mesg p b{float:left;}
.foot-mesg p a{float:left;color:#666;padding-left:5px;}
.foot-mesg p a:hover{color:$color1}
.foot-pic{overflow:hidden}
.foot-pic a{float:left;margin-top:16px;margin-right:3px;}
.car{width:42px;height:96px;background-color:#000;position:fixed;right:0;top:50%;margin-top:-48px;z-index:9999;cursor:pointer;}
.car a{color:#fff;display:bloc;width:20px;margin:0 auto;padding:20px 11px 28px;font-size:12px}
.car a:hover{background-color:#fff;color:$color1}




