.top-pic{margin:50px 0;}
.center{width:1200px;margin:0 auto}
.top-pic .center>a{float:left;height:190px;overflow:hidden;margin-right:15px}
.top-pic .center>a:nth-of-type(1){width:490px;}
.top-pic .center>a:nth-of-type(2){width:390px;}
.top-pic .center span{float:right}
.top-pic .center span a{width:290px;overflow:hidden}
.bot{margin-bottom:10px}
.conten-list>p{height:22px;text-align:right;background-image:url("../images/index/title.jpg");background-repeat:no-repeat;overflow:hidden;background-position:0 -22px;position:relative}
.conten-list>p>a{position:absolute;right:0;width:20px;line-height:22px;width:40px;color:transparent;}
.conten-list ul{overflow:hidden;}
.conten-list ul li{margin:20px 0 0;border:1px solid #d4d4d4;float:left;margin-right:13px;width:225px;overflow:hidden}
.conten-list ul .space{width:463px;height:330px;overflow:hidden;}
.space img{width:463px;height:330px}
.conten-list ul li p{font-size:12px;margin:8px 0}
.conten-list ul li p em{display:block;color:#F2457D;font-weight:600;line-height:18px;}
.text p b{display:block;height:16px;color:#5E5E5E;overflow:hidden;}
.conten-list1{margin:20px 8px 0;}
.conten-list1 h4{min-height:20px;margin-top:20px}
.bigpic{margin-top:20px}
.conten-list1 ul{overflow:hidden;}
.conten-list1 ul li{float:left;margin:20px 16px 0 0;overflow:hidden;}
.conten-list1 ul li a{position:relative;width:280px;height:280px;overflow:hidden}
.bigpic a{width:1180px;height:380px;}
.conten-list1 ul li a .backimg{background:url("../images/index/entry.png")no-repeat center center;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1222 ;display:none;}






