@charset "UTF-8";
#header .center h5 {
  width: 204px;
}

#header .center .menu-dl {
  display: none;
}

.content {
  font-size: 14px;
  position: relative;
  z-index: 20;
}

.center {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.position {
  font-size: 14px;
  line-height: 40px;
  color: #5e5e5e;
}

.magnifier {
  float: left;
  width: 650px;
  height: 550px;
  margin: 5px;
}

.magnifier ul {
  float: left;
}

.magnifier ul li {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  background: url("../images/index/blank.png") no-repeat center;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.magnifier ul li img {
  width: 80px;
  height: 80px;
}

.magnbox {
  float: left;
  width: 530px;
  height: 530px;
  position: relative;
  overflow: hidden;
  position: relative;
}

.magnbox img {
  max-height: 530px;
  max-width: 530px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.filter {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(93, 93, 93, 0.2);
  display: none;
}

/*放大镜右边部分*/
.magnifier-right {
  width: 540px;
  float: right;
}

.magnifier-right > i {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 20px;
}

.magnifier-right > p {
  margin: 10px 0;
  overflow: hidden;
}

.magnifier-right > p em {
  font-size: 26px;
  font-weight: 600;
}

.magnifier-right > p del {
  font-size: 12px;
  color: #767676;
  padding-left: 5px;
}

.magnifier-right > p > i {
  font-size: 12px;
  text-align: right;
  float: right;
  margin-top: 15px;
}

.parameter span {
  display: block;
  margin: 30px 0;
}

.parameter span > i {
  font-size: 12px;
  color: #666666;
  float: left;
}

.num {
  height: 50px;
  line-height: 50px;
}

.num input {
  float: left;
  width: 50px;
  height: 30px;
  margin-top: 10px;
}

.num span {
  float: left;
  display: block;
  width: 13px;
  margin-left: 5px;
}

.num span a {
  width: 12px;
  height: 13px;
  background-color: #f1f1f1;
  line-height: 15px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
}

.add {
  margin-top: -20px;
}

.shopcar {
  overflow: hidden;
}

.shopcar a {
  float: left;
  width: 115px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.buy {
  background-color: #8a4794;
}

.insert {
  background-color: #f2457d;
}

.goods {
  margin-top: 30px;
}

.goods h5 {
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.goods-pic {
  margin-top: 15px;
}

.goods-pic img {
  margin: 0 auto;
}

.evaluate > span {
  overflow: hidden;
  display: block;
}

.evaluate > span > a {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  line-height: 30px;
  diplay: block;
  color: #333;
}

.evaluate ul li {
  min-height: 120px;
  margin: 10px 0;
  overflow: hidden;
}

.evaluate ul li span {
  float: left;
}

.headpic {
  width: 60px;
  height: 60px;
  margin-left: 5px;
}

.star {
  background: url("../images/index/jstar.png") no-repeat;
  display: block;
  width: 70px;
  height: 15px;
  margin-top: 8px;
  background-position: 0 -20px;
}

.evaluate ul li p {
  float: left;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
  width: 1100px;
  font-size: 12px;
  color: #878787;
}

.evaluate ul li p i {
  float: right;
  font-size: 12px;
}

.box {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
